<div class="container-fluid" style="background-color: #ffffff; color: #333333;">

  <!-- Header Row -->
  <div class="row">
    <div class="col-lg-12 text-center">
      <img src="/assets/img/kylo-ren-burger.jpg" width="500" id="kylo-ren-burger">
      <h1>Star Wars Burgers! (DUH!)</h1>
    </div>
  </div>

  <!-- Three Col Row -->
  <div class="row">
    <div class="col-lg-1"></div>
    <!-- COL 1 -->
    <div class="col-lg-3 text-center" style="background-color: green; padding: 25px;">
      <h2>Uneaten Burgers</h2> {{#each burgers}} {{#unless this.devoured}}

      <div>{{this.id}}. {{this.burger_name}}
        <form action="burgers/updateOne/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button type="submit">DEVOUR THIS!</button>
        </form>
      </div>

      {{/unless}} {{/each}}

    </div>

    <!-- COL 2 -->
    <div class="col-lg-4" style="background-color: #ffffff;; padding: 25px;">
      <h3 class="text-center">Create a Starwars Burger, Put it on the menu, AND EAT IT!</h3>
      <form action="burgers/insertOne" method="POST">
        <div style="text-align: center;">
          <textarea type="text" name="name"></textarea><br>
          <button type="submit">Put it on the Menu!</button>
        </div>
      </form>
    </div>

    <!-- COL 3 -->
    <div class="col-lg-3 text-center" style="background-color: red; padding: 25px;">
      <h2>Eaten Burgers</h2> {{#each burgers}} {{#if this.devoured}}

      <span>{{this.id}}. {{this.burger_name}}</span> {{/if}} {{/each}}

    </div>
  </div>
  <div class="col-lg-1"></div>
</div>
